<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBmbxmUp_-igQ92sSPCgCfSYp97cYyIGxo</string>
	<key>GCM_SENDER_ID</key>
	<string>914898549093</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.inscribe</string>
	<key>PROJECT_ID</key>
	<string>inscribe-app-c3ccf</string>
	<key>STORAGE_BUCKET</key>
	<string>inscribe-app-c3ccf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:914898549093:ios:d98a7d0382b0c8b01b898c</string>
</dict>
</plist>